:root {
  --heading-font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
  --body-font-family: "Montserrat", "Helvetica Neue", helvetica, arial, sans-serif;
  --background-color: #fff;
  --text-color: #121212;
  --link-color: #131313;
  --link-hover-color: #131313;
  --section-padding: 0;
  --nav-height: 60px;
  --heading-size-xxl: 40px;
  --heading-size-xl: 40px;
  --heading-size-l: 24px;
  --heading-size-m: 20px;
  --heading-size-s: 18px;
  --heading-size-xs: 16px;
}
