:root {
  --heading-font-family: "HeadingsFontES", sans-serif;
  --body-font-family: "DefaultFontES", sans-serif;
  --background-color: #fff;
  --text-color: #121212;
  --link-color: #131313;
  --link-hover-color: #131313;
  --section-padding: 0;
  --nav-height: 56px;
  --heading-size-xxl: 68px;
  --heading-size-xl: 32px;
  --heading-size-l: 24px;
  --heading-size-m: 20px;
  --heading-size-s: 13px;
  --heading-size-xs: 13px;
}
